@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: BlinkMacSystemFont,sans-serif;
  font-size: 1.5em;
  text-align: center;
  background: #1b1523;
  color: #fff;
}

